<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="executeUnlockAdminJob" class="com.hui.common.job.UnlockAdminJob">
		<property name="adminService">
			<ref bean="adminService" />
		</property>
	</bean>
	
	<bean id="executeClearTempFilesJob" class="com.hui.common.job.ClearTempFilesJob">
	</bean>

	<bean id="executeBackUpJob" class="com.hui.common.job.BackUpJob">
		<property name="sysBackUpService">
			<ref bean="sysBackUpService" />
		</property>
		<property name="sysConfigService">
			<ref bean="sysConfigService" />
		</property>
	</bean>
	
	<bean id="executeClearQuestionsJob" class="com.hui.common.job.ClearQuestionsJob">
		<property name="questionServiceImpl">
			<ref bean="questionServiceImpl" />
		</property>
		<property name="beanFlowService">
			<ref bean="beanFlowService" />
		</property>
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="questionUserService">
			<ref bean="questionUserService" />
		</property>
		<property name="messageService">
			<ref bean="messageService" />
		</property>
	</bean>
	
	<bean id="executeUnlockAdminJobScheduledJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="executeUnlockAdminJob" />
		</property>
		<property name="targetMethod">
			<value>check</value>
		</property>
	</bean>

	<bean id="executeClearTempFilesJobScheduledJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="executeClearTempFilesJob" />
		</property>
		<property name="targetMethod">
			<value>check</value>
		</property>
	</bean>

	<bean id="executeBackUpJobScheduledJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="executeBackUpJob" />
		</property>
		<property name="targetMethod">
			<value>check</value>
		</property>
	</bean>
	
	<bean id="executeClearQuestionsJobScheduledJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="executeClearQuestionsJob" />
		</property>
		<property name="targetMethod">
			<value>check</value>
		</property>
	</bean>

	<bean id="executeClearTempFilesJobcronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="executeClearTempFilesJobScheduledJobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 0 0 * * ?</value>
		</property>
	</bean>

	<bean id="executeBackUpJobcronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="executeBackUpJobScheduledJobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 0 1 * * ?</value>
		</property>
	</bean>
	
	<bean id="executeClearQuestionsJobcronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="executeClearQuestionsJobScheduledJobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 0/30 * * * ?</value>
		</property>
	</bean>
	
	<bean id="executeUnlockAdminJobcronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="executeUnlockAdminJobScheduledJobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 0/30 * * * ?</value>
		</property>
	</bean>

	<bean id="startQuertz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="executeClearTempFilesJobcronTrigger" />
				<ref bean="executeBackUpJobcronTrigger" />
				<ref bean="executeClearQuestionsJobcronTrigger" />
				<ref bean="executeUnlockAdminJobcronTrigger" />
			</list>
		</property>
	</bean>

</beans>